.container{
    height: 100%;
    font-family: poppins, sans-serif;
}

.ProfileContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}
.Profile{
    min-height: 75vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.8rem;
    background-color: #f0f0f0;
    border-radius: 30px;
}

.PostContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

.descricao{
    font-size: 1rem;
    color: #333;
    margin-top: 1rem;
}

.descricaoText{
    font-family: poppins, sans-serif;
    font-size: 0.8rem;
    color: #333;
    margin-top: 1rem;
}

.commentText{
    font-family: poppins, sans-serif;
    font-size: 0.8rem;
    color: #333;
    margin-top: 1rem;
}

.semComentariosMensagem{
    font-family: poppins, sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    color: #09474d;
    margin-top: 1rem;
}
