.container{
    height: 100%;
    font-family: poppins, sans-serif;
}

.ProfileContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}
.Profile{
    min-height: 75vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.8rem;
    background-color: #f0f0f0;
    border-radius: 30px;
}

.PostContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}
