@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.contatoWrapper{
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: poppins, sans-serif;
}

.topBar{
    background-color: #d1e9e9;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form{
    background-color: rgb(255, 255, 255);
    width: 50%;
    margin-top:5%;
}

.title{
    color: rgb(2, 114, 108);
}

.subtitle{
    margin-bottom: 0.5rem;
}