.Container{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  
}

.bannerContainer{
    background: linear-gradient(135deg, rgba(4, 89, 89, 0.773), rgba(16, 145, 145, 0.5)), 
    url('../../../public/elevador-lacerda.jpg');
    background-size: cover;
    background-position: center;
    height:70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.titleBanner{
    color: rgba(235, 233, 233, 0.797);
    text-transform: uppercase;
    font-weight: 300;
    font-size: 3rem;
    line-height: 1;
    margin: 0;
    
}

.subtitleBanner{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 7rem;
    margin: 0;
    line-height: 1;
}



/* Seção dos melhores destinos */

.destinoSection{
    height:90vh;
    background-color:#E9E9E9 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 7%;
    height: auto;
    gap: 1rem;
}

.ContentContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-top: 8%; 

}

.Title{
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #045959;
    line-height: 1;
}

.Text{
    font-size: 1.3rem;
    font-weight: 400;
    color: #2B2B2B;
    line-height: 1;
}

/* Sessão de Filtros */ 

.button {
    margin: 5px;
    width: 15%;
    height: 3rem;
    background-color: #d1e9e9;
    color: white;
    border-radius: 20px;
}

.buttonReset {
    width: 15%;
    height: 3rem;
    background-color: #109191;
    color: white;
    border-radius: 20px;
    border-color: #045959;
}

/* Card com as Notícias */

.CardContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3%;
}

/* Paginação */

.PaginationContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.Pagination {
    display: flex;
    gap: 0.5rem;
}

/* Seção com Anuncio */

.AnuncioSection{
    max-height: 65vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3%;
    gap: 15%;
    
}

.AnuncioContent{
    width: 40%;
    flex-direction: column;
    justify-content: flex-start;
}

.AnuncioTitle{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #033c3c;
    line-height: 1;
}

.Highlight{
    color: #109191;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1;
}

.AnuncioText{
    font-size: 1.3rem;
    margin-top: 1rem;
    font-weight: 400;
    color: #2B2B2B;
    line-height: 1.5;
    text-align: justify;
    word-break:normal;
}

.AnuncioImage{
    display: flex;
    gap: 1.2rem;
    width: 55%;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 7%;
    flex-wrap: wrap;
}
.AnuncioImg{
    border-radius: 16px;
    object-fit: cover;
    width: 30%;
    max-width: 280px;
    height: auto;
    aspect-ratio: 2 / 3;
}

/* Seção de Noticias */

.NoticiasSection{
    height:90vh;
    background-color: #109191;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    gap: 1rem; 
}

.ContentContainer{
    text-align: center;
    margin-bottom: 20px;
}

.NoticiasTitle{
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #ffffff;
    line-height: 1; 
}

.NoticiasText{
    font-size: 1.3rem;
    font-weight: 400;
    color: #eae9e9e1;
    line-height: 1;
}

.NoticiasCard {
    width: 100%;
  }

.NoticiasCardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    gap: 24px;
  }

/* Responsividade para tablets */
@media (max-width: 1440px) {
  .AnuncioImage{
    gap: 1rem;
  }
    .AnuncioImg{
        max-width: 200px; 
    }
}

@media (max-width: 1024px) {
  .AnuncioImage{
    gap: 1rem;
  }
    .AnuncioImg{
        max-width: 200px; 
    }
}

@media (max-width: 820px) {
    .bannerContainer {
        height: 50vh;
    }
    .titleBanner {
        font-size: 2rem; 
    }

    .subtitleBanner {
        font-size: 4rem; 
    }

    .AnuncioSection {
        min-height: 100vh;
        width: 100%;
        flex-direction: column;
        padding: 2rem 1rem;
    }
    .AnuncioContent {
        width: 100%; 
        text-align: center;
        justify-content: center;
        flex-direction: column
    }
    .AnuncioTitle, .Highlight {
        font-size: 2rem;
    }
    .AnuncioText {
        font-size: 1.2rem;
        margin: 5%;
    }
    .AnuncioImage{
        width: 100%;
        display: flex;        
        text-align: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;  
      }
    .AnuncioImg{
        max-width: 90%; 
    }
    .NoticiasSection {
        flex-direction: column;
      }
    
   .CardContainer, .NoticiasCard {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;

  }


    .NoticiasTitle {
        font-size: 1.5rem;
      }

    .NoticiasText {
        font-size: 1.2rem; 
      
    } 
   
}

@media (max-width: 480px) {
    .bannerContainer {
        height: 40vh;
    }
    .titleBanner {
        font-size: 1rem;
    }

    .subtitleBanner {
        font-size: 1.5rem;
    }
    .Title,
    .NoticiasTitle {
        margin: 0 auto 1rem auto;
        display: block;
        text-align: center;
    }

    .buttonBanner {
        padding: 0.6rem 1.2rem;
        font-size: 0.8rem;
    }

    .Text,
    .NoticiasText,
    .AnuncioText {
        text-align: justify;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .Title,
    .NoticiasTitle {
        font-size: 1rem;
    }

    .Text,
    .NoticiasText,
    .AnuncioText {
        font-size: 0.9rem;
    }
    .AnuncioSection {
    min-height: 80vh;
    width: 100%;
    flex-direction: column;
    padding: 2rem 1rem;
    }

    .AnuncioTitle,
    .Highlight {
        font-size: 1.2rem;
    }

    .button,
    .buttonReset {
        font-size: 0.8rem;
    }

    .PaginationButtons {
        flex-direction: column;
        align-items: center;
        width: 40%;  
    }


    .NoticiasCard img, 
    .AnuncioImg {
        max-width: 120px; 
    }
}