.Post{
      width: 50%;
    display: flex;
    align-items: flex-start;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #f0f0f0;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
}

.PostHeader{
    display: flex;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 1rem;
    flex-direction: row;
    justify-content: flex-end;
}

.PostImage{
    width: 100%;
    height: 25rem;
    object-fit: cover;
    border-radius: 10px;
}

.PostActions{
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
    align-items: flex-start;
    width: 100%;
    margin-top: 1.5rem;
}

.Promocao{
    background-color:#155724a1;
    color: #b5c7ba;
    width: 20%;
    display: flex;
    justify-content: center;
    border: none;
    margin-top: 1rem;
    border-radius:15px;
    padding: 0.8rem 3rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8rem;
}
.Alerta{
    background-color:#ff838da6;
    color: #db5560;
    width: 20%;
    display: flex;
    justify-content: center;
    border: none;
    margin-top: 1rem;
    border-radius:15px;
    padding: 0.8rem 3rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8rem; 
}
.Novidades{
    background-color: #fff3cd;
    color: #755a00;
    width: 20%;
    display: flex;
    justify-content: center;
    border: none;
    margin-top: 1rem;
    border-radius:15px;
    padding: 0.8rem 3rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8rem;
}

.Description{
    font-size: 1rem;
    color: #333;
    margin-top: 1rem;
    word-break: break-word;
}




