.container{
    background-color: rgb(252, 255, 254);
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
    font-family: poppins, sans-serif;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 24px;
    color: rgb(9, 126, 110);
}

.content{
    margin-bottom: 28px;
}

.subtitle {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 16px;
    color: #333;
}

.text{
    font-size: 1rem;
    color: blue;
    line-height: 1.6;
}

.button {
    padding: 10px 28px;
    background-color: rgb(51, 177, 160);
    color: white;
    border-radius: 8px;
    font-weight: 600;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border: none;
    font-family: poppins, sans-serif;
    text-align: center;
}

.button:hover {
    background-color:rgb(27, 187, 166);
}
