.Container{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  
}

.bannerContainer{
    background: linear-gradient(135deg, 
    rgba(4, 89, 89, 0.773)), 
    url('../public/rio-redirecionamento.jpg');
    background-size: cover;
    background-position: center;
    height:70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.titleBanner{
    color: rgba(235, 233, 233, 0.797);
    text-transform: uppercase;
    font-weight: 300;
    font-size: 3rem;
    line-height: 1;
    margin: 0;
    
}

.subtitleBanner{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 7rem;
    margin: 0;
    line-height: 1;
}

.buttonBanner{
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 56%;
    left: 66%;
    transform: translate(-50%, -50%);
    background-color: #109191;
    color: white;
    padding: 0.6rem 1.5rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 400;
}

@media (max-width: 768px) {
    .titleBanner {
        font-size: 2rem; 
    }

    .subtitleBanner {
        font-size: 4rem; 
    }

    .buttonBanner {
        padding: 0.8rem 2rem; 
        font-size: 1rem; 
    }
}

@media (max-width: 480px) {
    .titleBanner {
        font-size: 1.5rem;
    }

    .subtitleBanner {
        font-size: 3rem;
    }

    .buttonBanner {
        padding: 0.6rem 1.5rem;
        font-size: 0.9rem;
    }
}