/* Lugar - Noticias */

.Place{
    display: flex;
    margin-top: 4%;
    margin-bottom: 2%;
    flex-direction: column;
    align-items: flex-start;
    text-align: flex-start;
    max-width: 900px;
}

.TitlePlace{
    font-size: 2rem;
    font-weight: bold;
    color: #045959;
    margin-bottom: 2%;
}

.TextPlace{
    font-size: 1rem;
    color: #313131;
    margin-top: 2%;
}

.ImagePlace{
    width: 100%;
    height: 22rem;
    border-radius: 20px;
    margin-top: 2%;
    object-fit: cover;
}

/* Responsividade */

@media (max-width: 768px) {
    .Place {
        align-items: flex-start;
        text-align: flex-start; 
        justify-content: justify;
        margin-top: 3%;
        margin-bottom: 6%;
    }

    .TitlePlace {
        font-size: 1.8rem; 
    }

    .TextPlace {
        font-size: 0.9rem; 
    }

    .ImagePlace {
        height: 15rem; 
        object-fit: cover;
    }
}

/* Responsividade para dispositivos móveis */
@media (max-width: 480px) {
    .Place {
        align-items: flex-start;
        text-align: flex-start;
        justify-content: justify;
        margin-top: 2%;
        margin-bottom: 4%;
        padding: 0.5rem; 
    }

    .TitlePlace {
        font-size: 1.5rem; 
    }

    .TextPlace {
        font-size: 0.8rem; 
    }

    .ImagePlace {
        height: 10rem; 
        object-fit: cover;
    }
}